/* Nav styles */
ul {
    list-style-type: none;
    white-space: nowrap;
  }

nav {
    font-family: 'Arvo', serif;
    font-size: 1.3em;
}
#CCRbrand {
    font-size: 1.1em;
}

.nav-item {
    font-weight: 400;
}

/* Jumbotron styles */

.jumbotron {
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,.2)), url("assets/img/wides/jumbotron.jpg");
    background-size: cover;
}

.jumbotron h1 {
    font-size: 5em;
    font-weight: 400;
    color: white;
    font-family: 'Arvo', serif;
}

.jumbotron p {
    font-size: 2em;
    font-weight: 400;
    color: white;
    font-family: 'Arvo', serif;
}

.jumbotron button>a {
    color: white;
}
/* Korencards styles */
#koren .row>div>div{
    margin-bottom: 20px;
}

#koren .card-img-top {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
#koren h5 {
    text-align: center;
}

/* Card button styles */
#RejoiceButton {
    background-color: #A31410;
    border-color: #A31410;
    margin-top: 16px;
}

#RejoiceButton:hover {
    background-color: #720e0b;
    border-color: #720e0b;
}

#ChoriXButton {
background-color: #E0AA5A;
border-color: #E0AA5A;
margin-top: 16px;

}

#ChoriXButton:hover {
    background-color: #b38848;
    border-color: #b38848;
    }

#CantemusButton {
    background-color: #006394;
    border-color: #006394;
}

#CantemusButton:hover {
    background-color: #004567;
    border-color: #004567;
}

/* Info row styles */

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 90px 90px;
    color: #FFFFFF;
    padding-left: 50%;
    text-align: right;
}

#rowRejoice {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.35)), url("assets/img/wides/rejoice.jpg");
    background-size: cover;
}

#rowChoriX {
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.3)), url("assets/img/wides/ChoriX.jpg");
    background-size: cover;
    padding-left: 90px;
    padding-right: 50%;
    text-align: left;
}

#rowCantemus {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("assets/img/wides/Cantemus.jpg");
    background-size: cover;
}

@media (max-width: 767px){
    .cardBuffer {
        margin-top: 15px;
    }   
    .bg {
        padding-left: 5%;
        text-align: left;
    }
    #rowChoriX {
        padding-left: 5%;
    }
 }